---
interface Props {
  image: string;
  title: string;
  body: string;
  href: string;
}

const { image, title, body, href } = Astro.props;
---

<a class="group overflow-hidden rounded-xl border-2 border-neutral-200 hover:bg-neutral-200 dark:border-neutral-800 dark:hover:bg-neutral-800" href={href}>
  <img class="h-40 w-full object-cover" src={image} alt="" />
  <div class="flex flex-col gap-2 p-4">
    <h4 class="font-semibold">{title}</h4>
    <p class="text-neutral-600 dark:text-neutral-400">
      {body}
    </p>
    <div class="flex items-center gap-2 group-hover:text-purple-600 dark:group-hover:text-purple-400">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244"
        ></path>
      </svg>

      {href}
    </div>
  </div>
</a>
